@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Merriweather:400,300,700|Roboto+Slab:400,300,100);

body {
  font-size: 14px;
  font-family: "Open Sans", arial;
}

.container {
  text-align: left;
  width: 960px;
  margin: 0 auto;
}
.container.center {
  width: 500px;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 400;
  font-size: 36px;
  margin: 0 0 10px 0;
}

a {
  color: #FFCC00;
}
.beer-image {
  width: 200px;
  border-radius: 100px;
}
.beer-meta {
  font-size: 18px;
  font-family: "Merriweather";
  margin-bottom: 20px;
}
.beer-abv {
  font-family:
}
.beer-description p {
  font-size: 14px;
  line-height: 23px;
  color: #666;
}

.article-create-submit {
  display: block;
  margin-top: 30px;
}

#secret-key {
  padding: 20px;
  border: 1px solid black;
  background-color: green;
  color: white;
  font-size: 24px;
  line-height:  26px;
  margin-bottom: 20px;
}
#secret-key p {
  margin: 0;
}

.secret-key-message {
  padding: 5px;
  border: 1px solid black;
  background-color: green;
  color: white;
  font-size: 14px;
  line-height:  14px;
  margin: 20px 0 20px 0;
}

/* Login */
#login_form {

}
#login_form input {
  display: block;
  margin-bottom: 16px;
}
#login_form label {
  font-size: 16px;
  line-height: 24px;
}
input {
  padding: 10px;
  width: 200px;
}

.shoutout {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}
.shoutout h1 {
  font-size: 50px;
  line-height: 56px;

  font-weight: 100;
  color: #666;
  font-family: "Roboto Slab";

}
.shoutout span {
  font-size: 20px;
  line-height: 26px;
  display: inline;
  vertical-align: middle;
  margin-left: 10px;
}
.shoutout img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: inline;
  vertical-align: middle;
}

input.button {
  background: #333;;
  border-radius: 2px;
  color: #FFF;
  border: none;
  outline: none;
}
input.button:hover {
  background: #000;
}

input.link {
  background: none;
  webkit-appearance: none;
  padding: 0;
  color: #FFCC00;
  width: auto;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: underline;
}

.inline-form {
  display: inline-block;
}

.active {
  background: #efefef;
}

