.header {
  width: 100%;
  padding: 14px;
  box-shadow: 1px 1px 4px #EAEAEA;
  background: #FFCC00;
  margin-bottom: 20px;
}
.header-inner {
  width: 960px;
  margin: 0 auto;
}
.logo {
  float: left;
  color: #FFF;
  font-size: 22px;
  line-height: 42px;
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
