.header {
  width: 100%;
  padding: 14px 0 14px 0;
  box-shadow: 1px 1px 4px #EAEAEA;
  background: #FFCC00;
  margin-bottom: 20px;
  background: #ff2100; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff2100 0%, #ffe900 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff2100), color-stop(100%,#ffe900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ff2100 0%,#ffe900 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ff2100 0%,#ffe900 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ff2100 0%,#ffe900 100%); /* IE10+ */
  background: linear-gradient(to right,  #ff2100 0%,#ffe900 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2100', endColorstr='#ffe900',GradientType=1 ); /* IE6-9 */

}
.header-inner {
  width: 960px;
  margin: 0 auto;
}
.logo {
  float: left;
  color: #FFF;
  font-size: 22px;
  line-height: 42px;
  margin-right: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.user-profile {
  float: right;
  color: #FFF;
  line-height: 38px;
}
.user-profile a {
  color: #FFF;
}

.user-profile-username {
  font-weight: 700;
}
.form-logout {
  display: inline-block;
}
.form-logout input {
  background: none;
  webkit-appearance: none;
  padding: 0;
  width: auto;
  border: none;
  outline: none;
  color: #FFF;
  display: inline-block;
  text-decoration: underline;
}

#beer-search {
  float: left;
}
