<div class="container">

  <h2>Login</h2>

  <form id="login_form" action="/users" method="post">
    <label>Username or email:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="text" name="password_hash">
    <input type="submit" value="Login">
    <input type="hidden" name="login_type" value="in">
  </form>

</div>
