<div class="container">
<h2>Create Account</h2>

<form action="/users" method="post">
<label>Username: </label>
<input type="text" name="username" value="">
<label>Password: </label>
<input type="password" name="password_hash" value="">
<input class="block" type="submit" value="Create Account">
<input  type="hidden" name="login_type" value="up">
</form>

</div>
