<div class="header">
  <div class="header-inner">
    <div class="logo">Fucking Beer</div>
    <form id="beer-search" method="get" >
          <input type="text" class="search" name="beer" placeholder="I need a fucking beer..." >
    </form>
  </div>
</div>
