<!-- <form id="beer-search" method="get" action="/" >
      <input type="text" class="search" name="beer" placeholder="I need a fucking beer..." >
</form> -->

<form id="beer-search" method="post" action="/" >
      <input type="text" class="search" name="beer" placeholder="I need a fucking beer..." >
</form>
