<div class="container">
 <div class="shoutout">
  <h1>“Milk is for babies. When you grow up you have to drink beer.”
  </h1>
  <img src="/images/arnie.png">
  <span>Arnold Schwarzenegger</span>
</div>
</div>
